
    .pR {
        color: #F05D5E;
        font-weight: bold;
    }

    .ide {
        color: #0F7173;
        font-style: italic;
    }

    .parBrac {
          color: blue;
    }
    
    .cte {
          color: #b028a5;
    }
          
    .comilla {
          color: #b09a87
    }
          
    .ctef {
        color: green;
    }

    .sim {
        color: maroon;
    }

    .com {
        color: orange;
    }